examples/runs
examples/ft
examples/results
examples/data
examples/result
src/transformers/data/__pycache__
src/transformers/data/metrics/__pycache__
src/transformers/data/processors/__pycache__
src/transformers/__pycache__
src/transformers.egg-info
